.baslık {
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
  color: brown;
}

nav {
  display: flex;
  justify-content: center;
}
nav > .nav-list {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav > .nav-list > li {
  color: rgb(117, 178, 214);
  margin-left: 15px;
}
main > .page-container {
  margin-top: 50px;
  text-align: center;
}
main > .page-container > h2 {
  color: rgb(233, 51, 19);
}
main > .products {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
main > .products > h3 {
  color: rgb(226, 171, 17);
}
main > .products-header {
  margin-top: 50px;
}
main > .products-header,
.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
main > .products-list > li {
  margin-top: 40px;
}
main > div > .aboutUs-header {
  text-align: center;
  color: darkmagenta;
}
