
.container> .card_two > .list-group > .list-group-item:hover{
    cursor: pointer;
    
}

.container> .card_two > .list-group > .list-group-item > a > .fas {
    color: white;
}
.container> .card_two > .list-group > .list-group-item:nth-child(odd){
    background-color: rgb(255, 192, 75);
}
.container> .card_two > .list-group > .list-group-item:nth-child(even){
    background-color: rgb(255, 168, 7);
}